.question {
    background: #fefefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.84);
    padding: 24px;

    // quando se usa o & dentro do scss, ele se referencia ao proprio elemento
    // nesse caso, significa que toda vez que uma question vem em seguinda de outra question, a partir da segunda question ira assumir a nova estilização
    & + .question {
        margin-top: 8px;
    }

    p {
        color: #2929292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }

    .user-info {
        display: flex;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        span {
            margin-left: 8px;
            color: #737380;
            font-size: 14px;
        }
    }

    button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2s;

        &.like-button {
            display: flex;
            align-items: flex-end;
            color: #737380;
            gap: 8px;

            &.liked {
                color:#835afd;

                svg path {
                    // quando a estilização do icone é uma linha é usado o stroke
                    // caso a estilização do icone é totalmente preenchido é usado o fill  
                    stroke: #835afd;
                }
            }

            &:hover {
                //ira escurecer quando passar o mouse em cima 
                filter: brightness(0.7);
            }
        }
    }
} 